{% extends 'base.html.twig' %}

{% block main %}
    <div class="hero-section">
        
        <div class="hero-text">
            <h1>L’<span class="o">a</span><span class="f">s</span><span class="n">s</span><span class="i">o</span> des étudiants en Informatique</h1>
            <p>Bienvenue sur le site des étudiants en Informatique de l'Université de Franche-Comté !</p>
            <a href="" class="btn">S'amuser</a>
            <a href="" class="btn-full">Adhérer &#8594;</a>
        </div>

        <div class="logo">
            <p>
                <span class="letter o" data-initial="O" data-final="I"></span>
                <span class="letter f" data-initial="F" data-final="N"></span>
                <span class="letter n" data-initial="N" data-final="F"></span>
                <span class="letter i" data-initial="I" data-final="O"></span>
            </p>
        </div>
    </div>

    <section>
        <h2>Les dernières actualités</h2>
        <p>Retrouvez ici les dernières actualités de l'OFNI.</p>
        <ul>
            <li><a class="link" href="">actualite 1</a></li> <!-- TODO: faire dynamiquement -->
            {# <li><a href="{{ path('actualite_show', {slug: 'actualite-1'}) }}">actualite 1</a></li>
            <li><a href="{{ path('actualite_show', {slug: 'actualite-2'}) }}">actualite 2</a></li>
            <li><a href="{{ path('actualite_show', {slug: 'actualite-3'}) }}">actualite 3</a></li> #}
        </ul>
    </section>

    <section>
        <h2>Nos événements</h2>
        <p>Retrouvez ici nos événements !</p>
        <ul>
            <li><a class="link" href="">événement 1</a></li> <!-- TODO: faire dynamiquement -->
            {# <li><a href="{{ path('evenement_show', {slug: 'evenement-1'}) }}">événement 1</a></li> #}
        </ul>
    </section>
{% endblock %}
