{% extends 'base.html.twig' %}

{% block title %}OFNI{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="/style.css">{% endblock %}

{% block body %}
    <div>
        <h1>OFNI</h1>
        <p>Le site des étudiants en infos !</p>
    </div>
{% endblock %}
