{% extends "base.html.twig" %}

{% block title "OFNI | Modification d'événement" %}

{% block main %}
    <h1>Modification | {{ event.name }}</h1>
    {% block tools %}{% endblock %}
    {{ form(form) }}
{% endblock %}
