{% extends "base.html.twig" %}
{% block title %}OFNI | Modification d'instance d'événements{% endblock %}

{% block main %}
    <h1>Modification de {{ instance.name }}</h1>
    {{ form(form) }}
{% endblock %}
