{% extends "base.html.twig" %}
{% block title %}OFNI | Création d'instance d'événements{% endblock %}

{% block main %}
    <h1>Création d'une nouvelle instance d'événement</h1>
    {{ form(form) }}
{% endblock %}
