{% extends 'base.html.twig' %}

{% block title 'OFNI | Admin' %}

{% block main %}
    <h1>Mise à jour du logo</h1>
    <a href="{{ path('admin.sponsor.edit.logo.delete', {id: sponsor.id}) }}" class="btn-danger">Supprimer le logo</a>
    {{ form(form) }}
{% endblock %}
