{% extends 'base.html.twig' %}
{% block title %}OFNI | Mentions légales{% endblock %}

{% block main %}
    <h1>Mentions légales</h1>
    <p>Bienvenue sur le site officiel de l'OFNI !</p>

    <section>
        <h2>Éditeur du site</h2>
        <p><strong>Association OFNI</strong></p>
        <p><strong>Adresse : </strong><a class="link" href="https://maps.app.goo.gl/EZCVWx7Nxz885AES8" target="_blank" rel="noopener">16 Route de Gray, 25000 Besançon</a></p>
        <p><strong>E-mail : </strong><a class="link" href="mailto:contact@ofni.asso.fr?subject=Demande%20de%20renseignements&body=Bonjour%2C%20%0D%0A%0D%0AJe%20vous%20contacte%20pour...">contact@ofni.asso.fr</a></p>
        <p><strong>Directeur de la publication : </strong>M AMIOTTE-SUCHET Tristan</p>
        <p><strong>Responsable de la rédaction : </strong>M CUINET Antoine</p>
        <p><strong>Statut juridique : </strong>Association loi 1901</p>
        <p><strong>Numéro SIREN : </strong>938629300</p>
        <p><strong>Numéro SIRET : </strong>93862930000014</p>
    </section>

    <section>
        <h2>Hébergeur du site</h2>
        <p><strong>OVH</strong></p>
        <p>SAS au capital de 10 069 020 €</p>
        <p>RCS Lille Métropole 424 761 419 00045</p>
        <p>Code APE 2620Z</p>
        <p><strong>N° TVA : </strong>FR 22 424 761 419</p>
        <p><strong>Siège social : </strong>2 rue Kellermann - 59100 Roubaix - France</p>
    </section>

    <section>
        <h2>Propriété intellectuelle</h2>
        <p>Le site de l'OFNI est une œuvre de l'esprit protégée par la législation en vigueur. L'ensemble des éléments le composant tels que, à titre indicatif, la dénomination, le logo, les dessins, les photographies, les animations, les bases de données, les logiciels, les chartes graphiques, les vidéos, les textes, les illustrations, les sons, les marques, les créations et les œuvres protégées, sans que cette liste ne soit exhaustive, sont la propriété exclusive de l'OFNI.</p>
        <p>En conséquence, toute reproduction, représentation, diffusion ou rediffusion, totale ou partielle, du contenu de ce site par quelque procédé que ce soit sans l'autorisation expresse et préalable de l'OFNI est interdite, et constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.</p>
    </section>

    <section>
        <h2>Protection des données personnelles (RGPD)</h2>
        <p>Les données personnelles collectées sur le site de l'OFNI sont destinées à l'usage exclusif de l'OFNI. Elles sont confidentielles et traitées comme telles. Elles ne peuvent être cédées à des tiers.</p>
        <p>Conformément au Règlement Général sur la Protection des Données (RGPD) et à la loi française "Informatique et Libertés" du 6 janvier 1978 modifiée, nous vous informons des points suivants :</p>

        <h3>1. Responsable du traitement</h3>
        <p>Le responsable du traitement des données personnelles est l'association OFNI, dont les coordonnées sont indiquées ci-dessus.</p>

        <h3>2. Finalité du traitement</h3>
        <p>Les données personnelles collectées sur le site de l'OFNI sont utilisées pour les finalités suivantes :</p>
        <ul>
            <li>- Gestion des demandes de contact</li>
            <li>- Gestion des inscriptions aux événements</li>
            <li>- Organisation d'événements et d'activités liés à l'association</li>
            <li>- Gestion des commandes de la boutique</li>
        </ul>

        <h3>3. Données collectées</h3>
        <p>Les données collectées sont les suivantes :</p>
        <ul>
            <li>- Nom et prénom</li>
            <li>- Adresse e-mail universitaire</li>
        </ul>

        <h3>4. Durée de conservation des données</h3>
        <p>Les données personnelles sont conservées pendant la durée nécessaire à la réalisation des finalités pour lesquelles elles ont été collectées, conformément aux obligations légales.</p>

        <h3>5. Droits des utilisateurs</h3>
        <p>Conformément à la réglementation en vigueur, les utilisateurs disposent des droits suivants :</p>
        <ul>
            <li>- Droit d'accès : les utilisateurs peuvent obtenir des informations concernant le traitement de leurs données personnelles ainsi qu'une copie de ces données.</li>
            <li>- Droit de rectification : si les données personnelles détenues par l'OFNI sont inexactes, les utilisateurs peuvent demander leur mise à jour.</li>
            <li>- Droit de suppression : les utilisateurs peuvent demander la suppression de leurs données personnelles.</li>
            <li>- Droit d'opposition : les utilisateurs peuvent s'opposer au traitement de leurs données personnelles.</li>
            <li>- Droit à la limitation du traitement : les utilisateurs peuvent demander la limitation du traitement de leurs données personnelles.</li>
            <li>- Droit à la portabilité des données : les utilisateurs peuvent demander à recevoir leurs données personnelles dans un format structuré, couramment utilisé et lisible par machine.</li>
            <li>- Droit de retirer son consentement : les utilisateurs peuvent retirer leur consentement au traitement de leurs données personnelles à tout moment.</li>
        </ul>

        <h3>6. Sécurité des données</h3>
        <p>L'OFNI s'engage à mettre en œuvre toutes les mesures techniques et organisationnelles nécessaires pour garantir la sécurité des données personnelles collectées et traitées, et à assurer leur confidentialité.</p>
    </section>

    <section>
        <h2>Cookies</h2>
        <p>Ce site n'utilise pas de cookies de sauvegarde ou de suivi. Seuls des cookies techniques strictement nécessaires au fonctionnement du site peuvent être utilisés (ex : cookies de session). Ces cookies ne nécessitent pas de consentement préalable de l'utilisateur.</p>
    </section>

    <section>
        <h2>Limitation de responsabilité</h2>
        <p>L'association OFNI ne peut être tenue responsable des dommages directs ou indirects résultant de l'utilisation de ce site.</p>
    </section>

    <section>
        <h2>Modifications des mentions légales</h2>
        <p>L'OFNI se réserve le droit de modifier, à tout moment et sans préavis, les présentes mentions légales afin de les adapter aux évolutions du site et/ou de son exploitation. Les utilisateurs sont invités à les consulter régulièrement.</p>
    </section>

    <a class="btn-full" href="{{ url('home') }}">Accueil &#8594;</a>

    {% embed 'contact/form.html.twig' %}
         {% set form = contact_form %} 
    {% endembed %}
{% endblock %}
