{% extends 'base.html.twig' %}
{% block title %}OFNI | Présentation{% endblock %}

{% block main %}
    <h1>L’asso des étudiants en Informatique</h1>
    <p>Bienvenue sur </p>

    <section>
        <h2>Notre histoire</h2>
        <p></p>
    </section>

    <section>
        <h2>Nos bureaux</h2>
        <p></p>
    </section>
{% endblock %}
