{% extends 'base.html.twig' %}
{% block title %}OFNI | Présentation{% endblock %}

{% block main %}
    <h1>L’asso des étudiants en Informatique</h1>

    <section>
        <h2>Notre histoire</h2>
        <p>Fondée en 1997, l'OFNI est l'association des étudiants en informatique de l'Université de Franche-Comté.
        L'activité de l'association dépend de la motivation de chacun d'entre vous, alors nous comptons sur vous ! 
        Tout le monde peut participer, n'hésitez pas à <a href="" class="link">adhérer</a> et à nous <a href="{{ path('home') }}#contact-id" class="link">contacter</a> en cas de questions.</p>
    </section>

    <section>
        <h2>Nos objectifs</h2>
        <p>L'association a pour but de réunir les étudiants des différentes promos autour <a href="" class="link">d'activités communes</a> (sorties, barbucue, nuit de l'info...) et de permettre une entraide entre promotions.</p>
    </section>

    <section>
        <h2>Nos bureaux</h2>
        <p></p>
    </section>

    <section>
        <h2>Nos sponsors</h2>
        <p></p>
    </section>
{% endblock %}
