{% extends 'base.html.twig' %}
{% block title %}OFNI | Présentation{% endblock %}

{% block main %}
    <h1>L’asso des étudiants en Informatique</h1>

    <section>
        <h2>Notre histoire</h2>
        <p>Fondée en 1997, l'OFNI est l'association des étudiants en informatique de l'Université de Franche-Comté.
        L'activité de l'association dépend de la motivation de chacun d'entre vous, alors nous comptons sur vous ! 
        Tout le monde peut participer, n'hésitez pas à <a href="{{ path('shop') }}" class="link">adhérer</a> et à nous <a href="{{ path('home') }}#contact-id" class="link">contacter</a> en cas de questions.</p>
    </section>

    <section>
        <h2>Nos objectifs</h2>
        <p>L'association a pour but de réunir les étudiants des différentes promos autour <a href="{{ path('event.instance.index') }}" class="link">d'activités communes</a> (sorties, barbucue, nuit de l'info...) et de permettre une entraide entre promotions.
        L'OFNI fait également office d’intermédiaire entre les membres de l’association, les chercheurs et les entreprises en conservant un réseau d’anciens membres et des contacts avec <a href="#sponsors" class="link">nos sponsors</a>.</p>
    </section>

    <section>
        <h2>Nos bureaux</h2>

        <div class="timeline">
            <div class="checkpoint">
                <div>
                    <h3>Bureau 2024-2025</h3>
                    <p><strong>Président : </strong>Tristan AMIOTTE-SUCHET</p>
                    <p><strong>Trésorier : </strong>Antoine CUINET</p>
                    <p><strong>Secrétaire : </strong>Gaspard QUENTIN</p>
                    <p><strong>Vice-président : </strong>Vital FOCHEUX</p>
                </div>
            </div>
        </div>

    </section>

    <section id="sponsors" class="logos">
        <h2>Nos partenaires</h2>

        <div class="logo-slide-container">
            <div class="logos-slide">
                <a href="https://www.univ-fcomte.fr/" target="_blank"><img src="./pictures/logo_ufr.png" alt="logo université de franche-comté" title="site UFR-ST" loading="lazy"></a>
                <a href="https://www.univ-fcomte.fr/" target="_blank"><img src="./pictures/logo_ufr.png" alt="logo université de franche-comté" title="site UFR-ST" loading="lazy"></a>
                <a href="https://www.univ-fcomte.fr/" target="_blank"><img src="./pictures/logo_ufr.png" alt="logo université de franche-comté" title="site UFR-ST" loading="lazy"></a>
            </div>
            <div class="logos-slide">
                <a href="https://www.univ-fcomte.fr/" target="_blank"><img src="./pictures/logo_ufr.png" alt="logo université de franche-comté" title="site UFR-ST" loading="lazy"></a>
                <a href="https://www.univ-fcomte.fr/" target="_blank"><img src="./pictures/logo_ufr.png" alt="logo université de franche-comté" title="site UFR-ST" loading="lazy"></a>
                <a href="https://www.univ-fcomte.fr/" target="_blank"><img src="./pictures/logo_ufr.png" alt="logo université de franche-comté" title="site UFR-ST" loading="lazy"></a>
            </div>
        </div>
    </section>
{% endblock %}
