@use '../global/variables' as *;
@use '../../mixins/filter' as *;
@use '../../mixins/box-shadow' as *;

%btn {
    // Reset //
    display: inline-block;
    appearance: none;
    color: inherit;
    font: inherit; // Use parent font //
    cursor: pointer;
    text-decoration: none;

    // Style //
    padding: 10px 20px;
    margin: 20px 10px;
    border-radius: $border-rad;
    font-weight: $font-weight-b;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 1;
    @include box-shadow();
}

.btn {
    @extend %btn;
    background: transparent;
    color: $color-tertiary;
    border: 3px solid $color-tertiary;
    transition: color $transition, border-color $transition;

    &:hover {
        color: $color-quaternary;
        border-color: $color-quaternary;
    }
}

.btn-danger {
    @extend %btn;
    background: transparent;
    color: $color-danger;
    border: 3px solid $color-danger;
    transition: color $transition, border-color $transition;

    &:hover {
        color: $color-danger-hover;
        border-color: $color-danger-hover;
    }
}