@use '../global/variables' as *;
@use '../../mixins/filter' as *;
@use '../../mixins/box-shadow' as *;

%btn {
    // Reset //
    display: inline-block;
    appearance: none;
    color: inherit;
    font: inherit; // Use parent font //
    cursor: pointer;
    text-decoration: none;

    // Style //
    padding: 10px 25px;
    margin: 20px 10px;
    border-radius: $border-rad;
    font-weight: $font-weight-b;
    // text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 1;

    -webkit-box-shadow: $box-shadow-right;
    -moz-box-shadow: $box-shadow-right;
    box-shadow: $box-shadow-right;
}

.btn {
    @extend %btn;
    background: transparent;
    @include blur-filter(10px);
    color: $color-secondary;
    border: 3px solid $color-secondary;
    transition: color $transition, border-color $transition;

    &:hover {
        color: $color-tertiary;
        border-color: $color-tertiary;
    }
}

.btn-full {
    @extend %btn;
    background: $color-secondary;
    color: $color-white;
    border: 3px solid $color-secondary;
    transition: color $transition, border-color $transition, background $transition;

    &:hover {
        color: $color-tertiary;
        border-color: $color-tertiary;
        background: transparent;
        @include blur-filter(10px);
    }
}

.btn-danger {
    @extend %btn;
    background: transparent;
    @include blur-filter(10px);
    color: $color-danger;
    border: 3px solid $color-danger;
    transition: color $transition, border-color $transition;

    &:hover {
        color: $color-danger-hover;
        border-color: $color-danger-hover;
    }
}