@use '../global/variables' as *;
@use '../../mixins/filter' as *;

.form-field {
    width: 80%;
    max-width: $breakpoint-large;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 0 auto;
    @media #{$max-width-s} {
        width: 100vw;
    }

    .button-group {
        padding-top: 30px;
        display: flex;
        gap: 10px;
        justify-content: center;

        @media #{$max-width-s} {
            flex-direction: column;
            padding-top: 30px;
            gap: 0px;
        }
    }

    .input-text {
        position: relative;
        z-index: 1;
        padding-top: 20px;
        font-family: $font-family-p;
        font-size: 22px;
        width: 550px;
        background: transparent;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        @media #{$max-width-s} {
            padding-top: 15px;
            font-size: $font-size-m;
            width: 250px;
        }

        input[type=text] {
            width: 100%;
            height: 50px;
            padding: 15px;
            font-family: $font-family-p;
            background: transparent;
            border-radius: $border-rad;
            @include blur-filter(15px);
            outline: none;
            font-size: 1em;
            color: $color-secondary;

            &:focus {
                border: 3px solid $color-quaternary;
            }

            &:invalid {
                border: 3px dashed $color-quaternary;
            }
            
            &:valid {
                border: 3px solid $color-tertiary;
            }

            
            &:focus ~ label {
                transform: translateX(15px) translateY(-10px);
                font-size: 0.65em;
                padding: 0 10px;
                background: $color-white;
                color: $color-quaternary;
                border-radius: 4px;
                letter-spacing: 1px;

                @media #{$max-width-s} {
                    transform: translateX(15px) translateY(-7px);
                }
            }

            &:valid ~ label {
                transform: translateX(15px) translateY(-10px);
                font-size: 0.65em;
                padding: 0 10px;
                background: $color-white;
                color: $color-tertiary;
                border-radius: 4px;
                letter-spacing: 1px;

                @media #{$max-width-s} {
                    transform: translateX(15px) translateY(-7px);
                }
            }
        }

        label {
            position: absolute;
            left: 0;
            padding: 8px 15px;
            pointer-events: none;
            font-size: 1em;
            color: $color-quaternary;
            transition: 0.5s;

            @media #{$max-width-s} {
                padding: 12px;
            }
        }
    }
}