@use '../global/variables' as *;
@use '../../mixins/filter' as *;


form {
    border: 1px solid red;
    width: 90%;
    margin: auto;
    padding: 30px;
    @media #{$max-width-s} {
        width: 100%;
    }


    div {
        position: relative;
        width: 550px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        @media #{$max-width-s} {
            padding-top: 15px;
            font-size: $font-size-m;
            width: 250px;
        }


        input, 
        textarea {
            width: 100%;
            padding: 10px 25px;
            margin: 20px 10px;
            font-size: 1em;

            color: $color-primary;
            background: transparent;
            @include blur-filter(10px);
            border: 3px solid $color-secondary;
            border-radius: $border-rad;
            outline: none;

            transition: color $transition, border-color $transition, box-shadow $transition;

            &:focus {
                -webkit-box-shadow: $box-shadow-black;
                -moz-box-shadow: $box-shadow-black;
                box-shadow: $box-shadow-black ; /* Ajoutez l'ombre lorsqu'en focus */
            }

            &:invalid {
                border: 3px dashed $color-danger;
            }
            
            &:valid {
                border: 3px solid $color-secondary;
            }

            &:valid ~ label,
            &:focus ~ label {
                transform: translateX(15px) translateY(-10px);
                font-size: 0.65em;
                padding: 0 10px;
                background: $color-primary;
                color: $color-secondary;
                border-radius: 4px;
                letter-spacing: 1px;

                @media #{$max-width-s} {
                    transform: translateX(15px) translateY(-7px);
                }
            }
        }

        textarea {
            resize: none;
            outline: none;
            overflow-x: hidden;
            overflow-y: hidden;
            background: transparent;
            color: $color-danger;
            height: auto;
            border-radius: $border-rad;
        }

        label {
            position: absolute;
            z-index: 2;
            left: 0;
            padding: 8px;
            pointer-events: none;
            font-size: 1em;
            color: $color-danger;
            transition: 0.5s;

            @media #{$max-width-s} {
                padding: 12px;
            }
        }
    }
}