@use '../global/variables' as *;
@use '../../mixins/filter' as *;

iframe {
    display: block;
    overflow: hidden;
    margin: 70px auto;
    width: 80%;
    height: 800px;
    border: $border;
    border-radius: $border-rad;
    background: transparent;

    @include blur-filter();
    -webkit-box-shadow: $box-shadow-right;
    -moz-box-shadow: $box-shadow-right;
    box-shadow: $box-shadow-right;

    @media #{$max-width-m} {
        width: 100%;
    }
}