@use '../global/variables' as *;

iframe {
    display: block;
    margin-top: 50px;
    max-width: 50%;
    width: 500px !important;
    height: 700px !important;
    border: $border;
    border-radius: 15px;
    background: transparent;

    @media #{$max-width-s} {
        display: none;
    }
}