@use '../global/variables' as *;
@use '../../mixins/filter' as *;

.logos {
    white-space: nowrap;

    .logo-slide-container {
        position: relative;
        margin: 0 auto;
        height: 100%;
        padding: 50px 10px;    
        overflow: hidden;

        @media #{$max-width-m} {
            width: 100vw;
            left: calc(-50vw + 50%);
            margin: 0;
            padding: 50px 0;
        }

        &:hover .logos-slide {
            animation-play-state: paused;

            @media #{$max-width-s} {
                animation-play-state: running;
            }
        }

        &::before {
            left: 0;
            // border-left: 1px solid grey;
            // border-top-left-radius: $border-rad;
            // border-bottom-left-radius: $border-rad;
            background: linear-gradient(to left, transparent, var(--color-primary));

            @media #{$max-width-m} {
                background: transparent;
            }
        }
        &::after {
            right: 0;
            background: linear-gradient(to right, transparent, var(--color-primary));
            @media #{$max-width-m} {
                background: transparent;
            }
        }
    
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 150px;
            height: 100%;
            z-index: 1;

            @media #{$max-width-m} {
                width: 0;
            }
        }

    
        .logos-slide {
            display: inline-block;
            animation: 20s slide infinite linear;
    
            @keyframes slide {
                from {
                    transform: translateX(0);
                }
                to {
                    transform: translateX(-100%);
                }
            }
    
            img {
                height: 100px;
                border-radius: $border-rad;
                box-shadow: $box-shadow-right;
                margin: 0 20px;
                padding: 10px;
                transition: transform $transition;
                @include blur-filter();

                &:hover {

                    @include blur-filter();
                    transform: scale(1.05);
                    cursor: pointer;
                }
            }
        }
    }
}