@use '../global/variables' as *;

h1 {
    color: $color-font-title;
    font-family: $font-family-title;
    font-size: $font-size-xl;
    padding: 30px 30px;
    text-align: center;
}

h2 {
    color: $color-font-title;
    font-family: $font-family-title;
    font-size: $font-size-l;
    margin: 20px 40px;
    position: relative;
    display: block;
    width: fit-content;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 75%;
        height: 3px;
        background-color: $color-tertiary;
    }
}

h3 {
    color: $color-font-title;
    font-family: $font-family-title;
    font-size: $font-size-m;
    margin: 15px 50px;
    padding-bottom: 10px;
    position: relative;
    display: block;
    width: fit-content;

    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        left: 0;
        bottom: 3px;
        width: 75%;
        height: 3px;
        background-color: $color-tertiary;
    }
}


h4 {
    color: $color-font-p;
    font-family: $font-family-title;
    font-size: $font-size-m;
    padding: 10px 60px;
}

p {
    padding: 10px 15px;
    text-align: center;
}