@use '../global/variables' as *;
@use '../../mixins/filter' as *;

#to-top-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;

    -webkit-box-shadow: $box-shadow-right;
    -moz-box-shadow: $box-shadow-right;
    box-shadow: $box-shadow-right;
    @include blur-filter();
    opacity: 0;
    transition: opacity $transition;

    svg {
        width: 50px;
        height: 50px;
        font-size: 50px;

        path {
            fill: var(--color-font-p);
        }
    }

    &.active {
        opacity: 1;
        cursor: pointer;
        z-index: 4;
    }
}

