@use '../global/variables' as *;
@use '../../mixins/filter' as *;

/* Grid Layout for Gallery */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;

    @media #{$max-width-s} {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}

/* Individual Photo Container Styling */
.photo-container {
    position: relative;
    width: 200px;
    height: 200px;

    @media #{$max-width-s} {
        width: 100px;
        height: 100px;
    }
}

/* Styling for the Photos */
.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform $transition;
    border-radius: $border-rad;
    -webkit-box-shadow: $box-shadow-right;
    -moz-box-shadow: $box-shadow-right;
    box-shadow: $box-shadow-right;
    @include blur-filter();

    &:hover {
        transform: scale(1.05);
    }
}


/* Modal Styles */
.photo-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Modal Content */
.modal-content {
    position: relative;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

/* Full-size Image */
#modalImage {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    color: $color-danger;
    cursor: pointer;
}

/* Arrows for Navigation */
.modal-arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.modal-arrow {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    color: $color-black;
    border-radius: 50%;
    transition: background-color $transition;

    &:hover {
        background-color: $color-white;
    }
}
