/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
/* Specific Colors For OFNI */
/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

i, em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
}

::selection {
  color: rgb(240, 249, 255);
  background: rgb(7, 7, 7);
}

::-moz-selection {
  color: rgb(240, 249, 255);
  background: rgb(7, 7, 7);
}

::-webkit-selection {
  color: rgb(240, 249, 255);
  background: rgb(7, 7, 7);
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
html {
  scroll-behavior: smooth;
  font-family: "Noto Sans", Arial, Courier, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  background: rgb(240, 249, 255);
  color: rgb(17, 17, 41);
  line-height: 1.5;
  letter-spacing: 0.17em;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin: auto;
  min-height: 100vh;
  width: 100vw;
  background-image: url("./pictures/noise-pattern.svg");
  background-size: contain;
  background-repeat: repeat;
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
header {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
main {
  flex: 1 0 auto;
  width: 100%;
  margin: auto;
  text-align: center;
  max-width: 1200px;
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
footer {
  flex-shrink: 0;
  width: 100%;
  border-top: 1px dashed rgb(7, 7, 7);
  background: rgb(52, 153, 254);
  color: rgb(17, 17, 41);
}
footer .footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.125rem;
  padding: 15px 0 10px;
}
@media screen and (max-width: 720px) {
  footer .footer-container {
    flex-wrap: wrap;
    padding: 0.9375rem 0 0.3125rem;
    font-size: 1rem;
  }
}
footer .footer-container .bloc {
  width: 30%;
  margin: 0 1.875rem;
  text-align: center;
}
@media screen and (max-width: 720px) {
  footer .footer-container .bloc {
    width: 80%;
    margin: 1.875rem;
  }
}
footer .footer-container .bloc:nth-child(1), footer .footer-container .bloc:nth-child(2) {
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 720px) {
  footer .footer-container .bloc:nth-child(1), footer .footer-container .bloc:nth-child(2) {
    margin-bottom: 0.625rem;
  }
}
footer .footer-container .bloc h3 {
  font-size: 1.375rem;
  padding-bottom: 1.25rem;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgb(7, 7, 7);
}
@media screen and (max-width: 720px) {
  footer .footer-container .bloc h3 {
    padding-bottom: 0.3125rem;
  }
}
footer .footer-container .bloc ul {
  list-style-type: none;
}
footer .footer-container .bloc ul li {
  margin: 0.125rem 0;
}
footer .footer-container .bloc ul li span {
  font-weight: bold;
}
footer .footer-legal {
  margin: 0 auto 10px auto;
  text-align: center;
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
section {
  margin: 80px auto;
  width: 90%;
  max-width: 1200px;
  padding: 20px;
  border-radius: 30px;
  border-top: 1px solid #ff9900;
  border-left: 1px solid #ff9900;
  background: rgb(52, 153, 254);
  backdrop-filter: blur-filter(20px);
}
section h2 {
  margin-bottom: 20px;
}
section p {
  margin: 10px auto;
  text-align: justify;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  gap: 20px;
  min-height: 100vh;
}
@media screen and (max-width: 990px) {
  .hero-section {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
}
.hero-section .logo {
  flex-shrink: 0;
  text-align: center;
}
.hero-section .logo span {
  font-size: 170px !important;
}
@media screen and (max-width: 990px) {
  .hero-section .logo {
    order: -1;
    margin-top: 80px;
  }
  .hero-section .logo span {
    font-size: 80px !important;
  }
}
.hero-section .hero-text {
  max-width: 500px;
  text-align: left;
}
.hero-section .hero-text h1 {
  padding: 0;
  text-align: left;
  font-size: 70px;
  font-weight: bold;
  line-height: 1;
  margin-top: 40px;
}
.hero-section .hero-text h1 span {
  font-weight: bolder;
  font-size: 75px;
}
.hero-section .hero-text p {
  padding: 0;
  text-align: left;
  font-size: 16px;
  margin-top: 15px;
  color: #444;
}
.hero-section .hero-text a {
  margin-left: 0;
  margin-right: 20px;
  margin-top: 30px;
  display: inline-block;
  font-size: 14px;
}
@media screen and (max-width: 990px) {
  .hero-section .hero-text h1 {
    font-size: 2rem;
  }
  .hero-section .hero-text h1 span {
    font-size: 2rem;
  }
  .hero-section .hero-text p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .hero-section .hero-text a {
    margin-top: 0px;
  }
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
h1 {
  color: light(rgb(240, 249, 255), rgb(7, 7, 7), rgb(240, 249, 255));
  font-family: "Josefin Sans", Arial, Courier, monospace;
  font-size: 2rem;
  padding: 30px 30px;
  text-align: center;
}

h2 {
  color: light(rgb(240, 249, 255), rgb(7, 7, 7), rgb(240, 249, 255));
  font-family: "Josefin Sans", Arial, Courier, monospace;
  font-size: 1.5rem;
  margin: 20px 40px;
  position: relative;
  display: block;
  width: fit-content;
}
h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 75%;
  height: 3px;
  background-color: #ff9900;
}

h3 {
  color: light(rgb(240, 249, 255), rgb(7, 7, 7), rgb(240, 249, 255));
  font-family: "Josefin Sans", Arial, Courier, monospace;
  font-size: 1.125rem;
  margin: 15px 50px;
  padding-bottom: 10px;
  position: relative;
  display: block;
  width: fit-content;
}
h3::after {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 3px;
  width: 75%;
  height: 3px;
  background-color: #ff9900;
}

h4 {
  color: light(rgb(240, 249, 255), rgb(17, 17, 41), rgb(200, 200, 200));
  font-family: "Josefin Sans", Arial, Courier, monospace;
  font-size: 1.125rem;
  padding: 10px 60px;
}

p {
  padding: 10px 15px;
  text-align: center;
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
nav {
  position: fixed;
  z-index: 100;
  width: 100vw;
  padding: 2.5rem 2.1875rem;
  background-color: transparent;
  transition: padding 0.4s ease-out, background-color 0.4s ease-out, color 0.4s ease-out, box-shadow 0.4s ease-out;
}
@media screen and (max-width: 990px) {
  nav {
    padding: 0.4375rem 0.9375rem;
    position: fixed;
    top: 0;
  }
}
nav.sticky {
  padding: 1.25rem 2.1875rem;
  background-color: rgba(52, 153, 254, 0.3);
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: rgb(240, 249, 255);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
@media screen and (max-width: 990px) {
  nav.sticky {
    padding: 0 0.9375rem;
    position: fixed;
    top: 0;
  }
}
nav .first-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
}
nav .first-container .navlinks-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  transition: transform 0.4s ease-out;
}
@media screen and (max-width: 990px) {
  nav .first-container .navlinks-container.open {
    transform: translate(0%);
  }
}
@media screen and (max-width: 990px) {
  nav .first-container .navlinks-container {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    height: 100vh;
    padding: 3.125rem;
    background: rgba(52, 153, 254, 0.9);
    color: rgb(17, 17, 41);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 2px 4px 6px rgb(123, 123, 123);
    transform: translate(-101%);
  }
}
nav .first-container .navlinks {
  transform: translateY(1px);
  display: inline-block;
  position: relative;
  margin: 0 0.9375rem;
  font-size: 1.1rem;
  font-weight: bolder;
  text-decoration: none;
  color: rgb(7, 7, 7);
}
@media screen and (max-width: 990px) {
  nav .first-container .navlinks {
    font-size: 1.56rem;
    margin: 1.25rem 0;
    margin-left: 0;
  }
}
nav .first-container .navlinks::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.1875rem;
  width: 100%;
  height: 0.1875rem;
  transform: scale(0);
  transform-origin: left;
  background: rgb(7, 7, 7);
  transition: transform 0.4s ease-out;
}
@media screen and (max-width: 990px) {
  nav .first-container .navlinks::after {
    background: transparent;
  }
}
nav .first-container .navlinks:hover::after {
  transform: scaleX(1);
}
nav .first-container .navlinks:last-child {
  margin: 0 0 0 10px;
  font-size: 1rem;
  color: rgb(52, 153, 254);
}
@media screen and (max-width: 990px) {
  nav .first-container .navlinks:last-child {
    font-size: 1.56rem;
    margin: 1.25rem 0;
    margin-left: 0;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(7, 7, 7);
  }
}
nav .first-container .navlinks:last-child:hover {
  color: #ff9900;
}
@media screen and (max-width: 990px) {
  nav .first-container .navlinks:last-child:hover {
    color: rgb(7, 7, 7);
  }
}
nav .first-container .navlinks:last-child:hover::after {
  transform: scaleX(0);
}
nav .first-container .active {
  color: rgb(52, 153, 254) !important;
}
nav .first-container .active::after {
  background: rgb(52, 153, 254);
}
nav .first-container .first-navlink {
  font-size: 1.25rem;
  font-weight: bolder;
}
@media screen and (max-width: 990px) {
  nav .first-container .first-navlink {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    width: 3.125rem;
    height: 100%;
    color: transparent;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    background-image: url("favicon.ico");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (max-width: 990px) {
  nav .first-container .main-navlinks {
    order: 1;
  }
}
nav .first-container .main-navlinks .hamburger {
  display: none;
}
@media screen and (max-width: 990px) {
  nav .first-container .main-navlinks .hamburger {
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 1.25rem 0 1.25rem 1.25rem;
  }
}
@media screen and (max-width: 990px) {
  nav .first-container .main-navlinks .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
}
@media screen and (max-width: 990px) {
  nav .first-container .main-navlinks .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }
}
@media screen and (max-width: 990px) {
  nav .first-container .main-navlinks .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }
}
@media screen and (max-width: 990px) {
  nav .first-container .main-navlinks .hamburger span {
    display: block;
    width: 100%;
    height: 0.125rem;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s;
    background-color: rgb(7, 7, 7);
    mix-blend-mode: difference;
  }
  nav .first-container .main-navlinks .hamburger span:nth-child(1) {
    transform: translateY(0.4375rem);
  }
  nav .first-container .main-navlinks .hamburger span:nth-child(3) {
    transform: translateY(-0.4375rem);
  }
  nav .first-container .main-navlinks .hamburger span:nth-child(1), nav .first-container .main-navlinks .hamburger span:nth-child(3) {
    transition: 0.4s ease-out;
  }
}

#to-top-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 20px;
  right: 20px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0;
}
#to-top-btn i {
  width: 50px;
  height: 50px;
  font-size: 50px;
}
#to-top-btn.active {
  opacity: 1;
  cursor: pointer;
  z-index: 4;
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
.link {
  text-decoration: none;
  color: inherit;
  background: none;
  cursor: pointer;
}

.link {
  color: #ff9900;
  position: relative;
}
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}
.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
iframe {
  display: block;
  margin-top: 50px;
  max-width: 50%;
  width: 500px !important;
  height: 700px !important;
  border: 3px solid rgb(240, 249, 255);
  border-radius: 15px;
  background: rgb(240, 249, 255);
}
@media screen and (max-width: 720px) {
  iframe {
    display: none;
  }
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
.btn-danger, .btn-full, .btn {
  display: inline-block;
  appearance: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 25px;
  margin: 20px 10px;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  -moz-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  box-shadow: 2px 4px 6px rgb(123, 123, 123);
}

.btn {
  background: transparent;
  color: rgb(52, 153, 254);
  border: 3px solid rgb(52, 153, 254);
  transition: color 0.4s ease-out, border-color 0.4s ease-out;
}
.btn:hover {
  color: #ff9900;
  border-color: #ff9900;
}

.btn-full {
  background: rgb(52, 153, 254);
  color: rgb(240, 249, 255);
  border: 3px solid rgb(52, 153, 254);
  transition: color 0.4s ease-out, border-color 0.4s ease-out, background 0.4s ease-out;
}
.btn-full:hover {
  color: #ff9900;
  border-color: #ff9900;
  background: transparent;
}

.btn-danger {
  background: transparent;
  color: rgb(255, 51, 153);
  border: 3px solid rgb(255, 51, 153);
  transition: color 0.4s ease-out, border-color 0.4s ease-out;
}
.btn-danger:hover {
  color: rgb(255, 97, 97);
  border-color: rgb(255, 97, 97);
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
.form-field {
  width: 80%;
  max-width: 1200px;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 0 auto;
}
@media screen and (max-width: 720px) {
  .form-field {
    width: 100vw;
  }
}
.form-field .button-group {
  padding-top: 30px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
@media screen and (max-width: 720px) {
  .form-field .button-group {
    flex-direction: column;
    padding-top: 30px;
    gap: 0px;
  }
}
.form-field .input-text {
  position: relative;
  z-index: 1;
  padding-top: 20px;
  font-family: "Noto Sans", Arial, Courier, monospace;
  font-size: 22px;
  width: 550px;
  background: transparent;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 720px) {
  .form-field .input-text {
    padding-top: 15px;
    font-size: 1.125rem;
    width: 250px;
  }
}
.form-field .input-text input[type=text] {
  width: 100%;
  height: 50px;
  padding: 15px;
  font-family: "Noto Sans", Arial, Courier, monospace;
  background: transparent;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(15px);
  -moz-backdrop-filter: blur(15px);
  -o-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  outline: none;
  font-size: 1em;
  color: rgb(52, 153, 254);
}
.form-field .input-text input[type=text]:focus {
  border: 3px solid rgb(17, 17, 41);
}
.form-field .input-text input[type=text]:invalid {
  border: 3px dashed rgb(17, 17, 41);
}
.form-field .input-text input[type=text]:valid {
  border: 3px solid #ff9900;
}
.form-field .input-text input[type=text]:focus ~ label {
  transform: translateX(15px) translateY(-10px);
  font-size: 0.65em;
  padding: 0 10px;
  background: rgb(240, 249, 255);
  color: rgb(17, 17, 41);
  border-radius: 4px;
  letter-spacing: 1px;
}
@media screen and (max-width: 720px) {
  .form-field .input-text input[type=text]:focus ~ label {
    transform: translateX(15px) translateY(-7px);
  }
}
.form-field .input-text input[type=text]:valid ~ label {
  transform: translateX(15px) translateY(-10px);
  font-size: 0.65em;
  padding: 0 10px;
  background: rgb(240, 249, 255);
  color: #ff9900;
  border-radius: 4px;
  letter-spacing: 1px;
}
@media screen and (max-width: 720px) {
  .form-field .input-text input[type=text]:valid ~ label {
    transform: translateX(15px) translateY(-7px);
  }
}
.form-field .input-text label {
  position: absolute;
  left: 0;
  padding: 8px 15px;
  pointer-events: none;
  font-size: 1em;
  color: rgb(17, 17, 41);
  transition: 0.5s;
}
@media screen and (max-width: 720px) {
  .form-field .input-text label {
    padding: 12px;
  }
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
.letter {
  font-size: 100px;
  font-weight: 800;
  position: relative;
  animation: slide-in 7s infinite ease-in-out;
  display: inline-block;
  font-family: "Figtree", Arial, sans-serif;
  color: inherit;
}

.letter::before {
  content: attr(data-initial); /* Start with the initial letter */
  animation: swap-letters 7s infinite ease-in-out;
}

/* Animation for sliding effect */
@keyframes slide-in {
  0% {
    transform: translateY(-50%);
    opacity: 0; /* Invisible */
  }
  15%, 35% {
    transform: translateY(0);
    opacity: 1; /* Visible */
  }
  48% {
    transform: translateY(50%);
    opacity: 0; /* Invisible */
  }
  52% {
    transform: translateY(-50%);
    opacity: 0; /* Invisible (ready for text change) */
  }
  65%, 85% {
    transform: translateY(0);
    opacity: 1; /* Visible with new text */
  }
  97% {
    transform: translateY(50%);
    opacity: 0; /* Invisible */
  }
  100% {
    transform: translateY(-50%);
    opacity: 0; /* Invisible */
  }
}
/* Animation for swapping letters */
@keyframes swap-letters {
  0%, 50% {
    content: attr(data-initial); /* Garder la lettre initiale */
  }
  51% {
    content: attr(data-final); /* Changer la lettre pendant qu'elle est invisible */
  }
  52%, 100% {
    content: attr(data-final); /* Garder la nouvelle lettre */
  }
}
/* Letter-specific styles */
.o {
  color: #ff3399;
  animation-delay: 0.3s;
} /* Pink */
.f {
  color: #3399ff;
  animation-delay: 0.2s;
} /* Blue */
.n {
  color: #ff9900;
  animation-delay: 0.1s;
} /* Orange */
.i {
  color: #33cc33;
  animation-delay: 0s;
} /* Green */

/*# sourceMappingURL=style.css.map */
