@charset "UTF-8";
/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
:root {
  --color-primary: $color-primary;
  --color-font-title: $color-black;
  --color-font-p: rgb(17, 17, 41);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: rgb(17, 17, 41);
    --color-font-title: rgb(240, 249, 255);
    --color-font-p: rgb(200, 200, 200);
  }
}
/* Specific Colors For OFNI */
/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

i, em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
}

::selection {
  color: var(--color-primary, rgb(240, 249, 255));
  background: var(--color-font-title, rgb(7, 7, 7));
}

::-moz-selection {
  color: var(--color-primary, rgb(240, 249, 255));
  background: var(--color-font-title, rgb(7, 7, 7));
}

::-webkit-selection {
  color: var(--color-primary, rgb(240, 249, 255));
  background: var(--color-font-title, rgb(7, 7, 7));
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
html {
  scroll-behavior: smooth;
  font-family: "Noto Sans", Arial, Courier, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  background: var(--color-primary);
  color: var(--color-font-p);
  line-height: 1.5;
  letter-spacing: 0.17em;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin: auto;
  min-height: 100vh;
  width: 100vw;
  background-image: url("./pictures/galaxy-pattern.svg");
  background-size: contain;
  background-repeat: repeat;
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
header {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
main {
  flex: 1 0 auto;
  width: 100%;
  margin: auto;
  text-align: center;
  max-width: 1200px;
  padding-top: 200px;
  padding-bottom: 100px;
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
footer {
  flex-shrink: 0;
  width: 100%;
  color: var(--color-font-p);
}
footer .footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.125rem;
  padding: 0px 0 10px;
}
@media screen and (max-width: 720px) {
  footer .footer-container {
    flex-wrap: wrap;
    padding: 0.9375rem 0 0.3125rem;
    font-size: 1rem;
  }
}
footer .footer-container .bloc {
  width: 30%;
  margin: 0 1.875rem;
  text-align: center;
}
@media screen and (max-width: 720px) {
  footer .footer-container .bloc {
    width: 80%;
    margin: 1.875rem;
  }
}
footer .footer-container .bloc:nth-child(1), footer .footer-container .bloc:nth-child(2) {
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 720px) {
  footer .footer-container .bloc:nth-child(1), footer .footer-container .bloc:nth-child(2) {
    margin-bottom: 0.625rem;
  }
}
footer .footer-container .bloc h3 {
  font-size: 1.375rem;
  padding-bottom: 1.25rem;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--color-font-title);
}
@media screen and (max-width: 720px) {
  footer .footer-container .bloc h3 {
    padding-bottom: 0.3125rem;
  }
}
footer .footer-container .bloc ul {
  list-style-type: none;
}
footer .footer-container .bloc ul li {
  margin: 0.125rem 0;
}
footer .footer-container .bloc ul li span {
  font-weight: bold;
}
footer .footer-legal {
  margin: 0 auto 10px auto;
  text-align: center;
}

svg {
  width: 100%; /* Largeur sur toute la page */
  height: 150px; /* Hauteur définie pour le séparateur */
  pointer-events: none;
}
@media screen and (max-width: 990px) {
  svg {
    height: 50px;
  }
}

.line {
  fill: none;
  stroke: var(--color-font-p);
  stroke-width: 3;
  border-radius: 10px solid var(--color-font-p);
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
section {
  margin: 60px auto;
  width: 90%;
  max-width: 1200px;
  padding: 20px;
  background: transparent;
}
section p {
  margin: 10px auto;
  text-align: justify;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  gap: 20px;
  min-height: 100vh;
  transform: translateY(-200px);
  margin-bottom: -200px;
}
@media screen and (max-width: 990px) {
  .hero-section {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
}
.hero-section .logo {
  flex-shrink: 0;
  text-align: center;
}
.hero-section .logo span {
  font-size: 170px !important;
}
@media screen and (max-width: 990px) {
  .hero-section .logo {
    order: -1;
    margin-top: 80px;
  }
  .hero-section .logo span {
    font-size: 80px !important;
  }
}
.hero-section .hero-text {
  max-width: 500px;
  text-align: left;
}
.hero-section .hero-text h1 {
  padding: 0;
  text-align: left;
  font-size: 70px;
  font-weight: bold;
  line-height: 1;
  margin-top: 40px;
  text-shadow: 2px 4px 4px rgba(123, 123, 123, 0.3);
}
.hero-section .hero-text h1 span {
  font-weight: bolder;
  font-size: 75px;
}
.hero-section .hero-text p {
  padding: 0;
  text-align: left;
  font-size: 16px;
  margin-top: 15px;
  color: var(--color-font-p);
}
.hero-section .hero-text a {
  margin-left: 0;
  margin-right: 20px;
  margin-top: 30px;
  display: inline-block;
  font-size: 14px;
}
@media screen and (max-width: 990px) {
  .hero-section .hero-text h1 {
    font-size: 2rem;
  }
  .hero-section .hero-text h1 span {
    font-size: 2rem;
  }
  .hero-section .hero-text p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .hero-section .hero-text a {
    margin-top: 0px;
  }
}

.scroll-down-container {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 80px;
  height: 80px;
  cursor: pointer;
  animation: bounceUpDown 4s infinite ease-out;
}
@media screen and (max-width: 990px) {
  .scroll-down-container {
    display: none;
  }
}
@keyframes bounceUpDown {
  0% {
    transform: translate(-50%, -10px);
  }
  50% {
    transform: translate(-50%, 10px);
  }
  100% {
    transform: translate(-50%, -10px);
  }
}
.scroll-down-container a {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
}
.scroll-down-container .svg-scroll {
  width: 80px !important;
  height: 80px !important;
}
.scroll-down-container circle {
  animation: scroll 2s ease infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
    cy: 481;
  }
  33% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    cy: 231;
  }
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
article {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  margin: 30px 0;
  border: 3px solid rgb(52, 153, 254);
  border-radius: 15px;
  -webkit-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  -moz-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  box-shadow: 2px 4px 6px rgb(123, 123, 123);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
@media screen and (max-width: 990px) {
  article {
    flex-direction: column;
  }
}
article img {
  width: 120px;
  height: 120px;
  border-radius: 15px;
  background-color: rgb(240, 249, 255);
}
article div:first-child {
  width: 120px;
  height: 120px;
  flex-shrink: 0; /* Empêche l'image de rétrécir */
}
article h3 {
  margin: 0 15px;
}
article h4 {
  margin: 0 15px;
  padding: 0;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-font-title);
}
article p {
  color: var(--color-font-p);
  margin: 0;
}
article div:nth-child(2) {
  flex: 1; /* Occupe tout l'espace disponible */
  display: flex;
  flex-direction: column;
  gap: 4px; /* Espacement entre les éléments du texte */
}
article a {
  margin: 10px !important;
}
article div:last-child {
  display: flex;
  margin-top: auto;
  padding: 0;
  flex-shrink: 0;
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
h1 {
  color: var(--color-font-title);
  font-family: "Josefin Sans", Arial, Courier, monospace;
  font-size: 2rem;
  padding: 30px 30px;
  text-align: center;
}

h2 {
  color: var(--color-font-title);
  font-family: "Josefin Sans", Arial, Courier, monospace;
  font-size: 1.5rem;
  margin: 60px 40px 40px 40px;
  position: relative;
  display: block;
  width: fit-content;
}
h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 75%;
  height: 3px;
  background-color: rgb(255, 153, 0);
}

h3 {
  color: var(--color-font-title);
  font-family: "Josefin Sans", Arial, Courier, monospace;
  font-size: 1.125rem;
  margin: 20px 50px;
  padding-bottom: 10px;
  position: relative;
  display: block;
  width: fit-content;
}
h3::after {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 3px;
  width: 75%;
  height: 3px;
  background-color: rgb(255, 153, 0);
}

h4 {
  color: var(--color-font-p);
  font-family: "Josefin Sans", Arial, Courier, monospace;
  font-size: 1.125rem;
  padding: 10px 60px;
}

p {
  padding: 10px 15px;
  text-align: center;
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
nav {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100vw;
  padding: 2.5rem 2.1875rem;
  background-color: transparent;
  transition: padding 0.4s ease-out, background-color 0.4s ease-out, color 0.4s ease-out, box-shadow 0.4s ease-out;
}
@media screen and (max-width: 990px) {
  nav {
    padding: 0.4375rem 0.9375rem;
    position: fixed;
    top: 0;
  }
}
nav.sticky {
  padding: 1.25rem 2.1875rem;
  background-color: rgba(52, 153, 254, 0.3);
  -webkit-box-shadow: 0 4px 6px rgb(123, 123, 123);
  -moz-box-shadow: 0 4px 6px rgb(123, 123, 123);
  box-shadow: 0 4px 6px rgb(123, 123, 123);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
@media screen and (max-width: 990px) {
  nav.sticky {
    padding: 0 0.9375rem;
    position: fixed;
    top: 0;
  }
}
nav .first-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
}
nav .first-container .navlinks-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  transition: transform 0.4s ease-out;
}
@media screen and (max-width: 990px) {
  nav .first-container .navlinks-container.open {
    transform: translate(0%);
  }
}
@media screen and (max-width: 990px) {
  nav .first-container .navlinks-container {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    height: 100vh;
    padding: 3.125rem;
    background: rgba(52, 153, 254, 0.9);
    color: var(--color-font-p);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    -webkit-box-shadow: 2px 4px 6px rgb(123, 123, 123);
    -moz-box-shadow: 2px 4px 6px rgb(123, 123, 123);
    box-shadow: 2px 4px 6px rgb(123, 123, 123);
    transform: translate(-105%);
  }
}
nav .first-container .navlinks {
  transform: translateY(1px);
  display: inline-block;
  position: relative;
  margin: 0 0.9375rem;
  font-size: 1.1rem;
  font-weight: bolder;
  text-decoration: none;
  color: var(--color-font-title);
}
@media screen and (max-width: 990px) {
  nav .first-container .navlinks {
    font-size: 1.56rem;
    margin: 1.25rem 0;
    margin-left: 0;
  }
}
nav .first-container .navlinks::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.1875rem;
  width: 100%;
  height: 0.1875rem;
  transform: scale(0);
  transform-origin: left;
  background: var(--color-font-title);
  transition: transform 0.4s ease-out;
}
@media screen and (max-width: 990px) {
  nav .first-container .navlinks::after {
    background: transparent;
  }
}
nav .first-container .navlinks:hover::after {
  transform: scaleX(1);
}
nav .first-container .navlinks:last-child {
  margin: 0 0 0 10px;
  font-size: 1rem;
  color: rgb(52, 153, 254);
  -webkit-backdrop-filter: none !important;
  -moz-backdrop-filter: none !important;
  -o-backdrop-filter: none !important;
  backdrop-filter: none !important;
}
@media screen and (max-width: 990px) {
  nav .first-container .navlinks:last-child {
    font-size: 1.56rem;
    margin: 1.25rem 0;
    margin-left: 0;
    font-weight: bolder;
    text-decoration: none;
    color: var(--color-font-title);
  }
}
nav .first-container .navlinks:last-child:hover {
  color: rgb(255, 153, 0);
}
@media screen and (max-width: 990px) {
  nav .first-container .navlinks:last-child:hover {
    color: var(--color-font-title);
  }
}
nav .first-container .navlinks:last-child:hover::after {
  transform: scaleX(0);
}
nav .first-container .active {
  color: rgb(52, 153, 254);
}
nav .first-container .active::after {
  background: rgb(52, 153, 254);
}
@media screen and (max-width: 990px) {
  nav .first-container .active {
    color: var(--color-font-title);
  }
  nav .first-container .active::after {
    background: var(--color-font-title);
  }
}
nav .first-container .first-navlink {
  font-size: 1.25rem;
  font-weight: bolder;
}
@media screen and (max-width: 990px) {
  nav .first-container .first-navlink {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    width: 3.125rem;
    height: 100%;
    color: transparent;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    background-image: url("favicon.ico");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (max-width: 990px) {
  nav .first-container .main-navlinks {
    order: 1;
  }
}
nav .first-container .main-navlinks .hamburger {
  display: none;
}
@media screen and (max-width: 990px) {
  nav .first-container .main-navlinks .hamburger {
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 1.25rem 0 1.25rem 1.25rem;
  }
}
@media screen and (max-width: 990px) {
  nav .first-container .main-navlinks .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
}
@media screen and (max-width: 990px) {
  nav .first-container .main-navlinks .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }
}
@media screen and (max-width: 990px) {
  nav .first-container .main-navlinks .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }
}
@media screen and (max-width: 990px) {
  nav .first-container .main-navlinks .hamburger span {
    display: block;
    width: 100%;
    height: 0.125rem;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s;
    background: var(--color-font-p);
    mix-blend-mode: difference;
  }
  nav .first-container .main-navlinks .hamburger span:nth-child(1) {
    transform: translateY(0.4375rem);
  }
  nav .first-container .main-navlinks .hamburger span:nth-child(2) {
    width: 70%;
  }
  nav .first-container .main-navlinks .hamburger span:nth-child(3) {
    transform: translateY(-0.4375rem);
  }
  nav .first-container .main-navlinks .hamburger span:nth-child(1), nav .first-container .main-navlinks .hamburger span:nth-child(3) {
    transition: 0.4s ease-out;
  }
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
#to-top-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  -moz-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  box-shadow: 2px 4px 6px rgb(123, 123, 123);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
#to-top-btn svg {
  width: 50px;
  height: 50px;
  font-size: 50px;
}
#to-top-btn svg path {
  fill: var(--color-font-p);
}
#to-top-btn.active {
  opacity: 1;
  cursor: pointer;
  z-index: 4;
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
.link {
  text-decoration: none;
  color: inherit;
  background: none;
  cursor: pointer;
}

.link {
  color: rgb(255, 153, 0);
  position: relative;
}
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}
.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
iframe {
  display: block;
  overflow: hidden;
  margin: 70px auto;
  width: 80%;
  height: 800px;
  border: 3px solid rgb(52, 153, 254);
  border-radius: 15px;
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  -moz-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  box-shadow: 2px 4px 6px rgb(123, 123, 123);
}
@media screen and (max-width: 990px) {
  iframe {
    width: 100%;
  }
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
.btn-danger, .btn-full, .btn {
  display: inline-block;
  appearance: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 25px;
  margin: 20px 10px;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  -moz-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  box-shadow: 2px 4px 6px rgb(123, 123, 123);
}

.btn {
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: rgb(52, 153, 254);
  border: 3px solid rgb(52, 153, 254);
  transition: color 0.4s ease-out, border-color 0.4s ease-out;
}
.btn:hover {
  color: rgb(255, 153, 0);
  border-color: rgb(255, 153, 0);
}

.btn-full {
  background: rgb(52, 153, 254);
  color: rgb(240, 249, 255);
  border: 3px solid rgb(52, 153, 254);
  transition: color 0.4s ease-out, border-color 0.4s ease-out, background 0.4s ease-out;
}
.btn-full:hover {
  color: rgb(255, 153, 0);
  border-color: rgb(255, 153, 0);
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.btn-danger {
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: rgb(255, 51, 153);
  border: 3px solid rgb(255, 51, 153);
  transition: color 0.4s ease-out, border-color 0.4s ease-out;
}
.btn-danger:hover {
  color: rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
}

@media screen and (max-width: 990px) {
  .hidden-phone {
    display: none;
  }
}

.hidden-pc {
  display: none;
}
@media screen and (max-width: 990px) {
  .hidden-pc {
    display: block;
  }
}

.delete-button {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 30px;
  height: 30px;
  background-color: rgb(240, 249, 255);
  cursor: pointer;
  border-radius: 50%;
  border: none;
  transition: background-color 0.4s ease-out;
}
.delete-button:hover {
  background-color: rgb(255, 153, 0);
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
form {
  width: 90%;
  margin: auto;
  padding: 30px;
}
@media screen and (max-width: 720px) {
  form {
    width: 100%;
  }
}
form p {
  text-align: left;
  padding: 30px 0;
}
form div {
  position: relative;
  width: 550px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 720px) {
  form div {
    padding-top: 15px;
    font-size: 1.125rem;
    width: 250px;
  }
}
form div input,
form div textarea,
form div select {
  width: 100%;
  padding: 10px 25px;
  margin: 5px;
  font-size: 1rem;
  color: var(--color-font-p);
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 3px solid rgb(52, 153, 254);
  border-radius: 15px;
  outline: none;
  transition: color 0.4s ease-out, border-color 0.4s ease-out, box-shadow 0.4s ease-out;
}
form div input:focus,
form div textarea:focus,
form div select:focus {
  -webkit-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  -moz-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  box-shadow: 2px 4px 6px rgb(123, 123, 123); /* Ajoutez l'ombre lorsqu'en focus */
}
form div input:invalid,
form div textarea:invalid,
form div select:invalid {
  border: 3px dashed rgb(255, 51, 153);
}
form div input:valid,
form div textarea:valid,
form div select:valid {
  border: 3px solid rgb(52, 153, 254);
}
form div textarea {
  resize: none;
  outline: none;
  overflow-x: hidden;
  overflow-y: hidden;
  background: transparent;
  height: auto;
  border-radius: 15px;
}
form div label {
  position: relative;
  display: inline-block;
  z-index: 2;
  left: 0;
  padding-top: 15px;
  font-size: 1em;
  color: var(--color-font-p);
  transition: 0.4s ease-out;
}
@media screen and (max-width: 720px) {
  form div label {
    padding: 12px;
  }
}
form div input[type=checkbox] {
  right: 0;
  cursor: pointer;
  outline: none;
}
form div input[type=checkbox]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
.letter {
  font-size: 100px;
  font-weight: 800;
  position: relative;
  animation: slide-in 7s infinite ease-in-out;
  display: inline-block;
  font-family: "Figtree", Arial, sans-serif;
  color: inherit;
}

.letter::before {
  content: attr(data-initial); /* Start with the initial letter */
  animation: swap-letters 7s infinite ease-in-out;
}

/* Animation for sliding effect */
@keyframes slide-in {
  0% {
    transform: translateY(-50%);
    opacity: 0; /* Invisible */
  }
  15%, 35% {
    transform: translateY(0);
    opacity: 1; /* Visible */
  }
  48% {
    transform: translateY(50%);
    opacity: 0; /* Invisible */
  }
  52% {
    transform: translateY(-50%);
    opacity: 0; /* Invisible (ready for text change) */
  }
  65%, 85% {
    transform: translateY(0);
    opacity: 1; /* Visible with new text */
  }
  97% {
    transform: translateY(50%);
    opacity: 0; /* Invisible */
  }
  100% {
    transform: translateY(-50%);
    opacity: 0; /* Invisible */
  }
}
/* Animation for swapping letters */
@keyframes swap-letters {
  0%, 50% {
    content: attr(data-initial); /* Garder la lettre initiale */
  }
  51% {
    content: attr(data-final); /* Changer la lettre pendant qu'elle est invisible */
  }
  52%, 100% {
    content: attr(data-final); /* Garder la nouvelle lettre */
  }
}
/* Letter-specific styles */
.o {
  color: #ff3399;
  animation-delay: 0.3s;
} /* Pink */
.f {
  color: #3399ff;
  animation-delay: 0.2s;
} /* Blue */
.n {
  color: #ff9900;
  animation-delay: 0.1s;
} /* Orange */
.i {
  color: #33cc33;
  animation-delay: 0s;
} /* Green */
/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
#canvasId {
  position: relative;
  display: block;
  overflow: hidden;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(17, 17, 41);
  background-image: url("./pictures/galaxy-pattern.svg");
  image-rendering: pixelated; /* Utilise un rendu pixelisé, sans lissage */
  -webkit-image-rendering: pixelated; /* Pour Safari */
  -moz-image-rendering: pixelated; /* Pour Firefox */
}

.game-team-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  width: 80%;
  height: 80%;
  background: transparent !important;
  border: 3px solid rgb(52, 153, 254);
  border-radius: 15px;
  -webkit-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  -moz-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  box-shadow: 2px 4px 6px rgb(123, 123, 123);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.game-team-container h1 {
  color: rgb(240, 249, 255);
}
.game-team-container p {
  color: rgb(240, 249, 255);
  margin-bottom: 50px;
}

.game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  width: 80%;
  height: 80%;
  background: transparent !important;
  border: 3px solid rgb(52, 153, 254);
  border-radius: 15px;
  -webkit-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  -moz-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  box-shadow: 2px 4px 6px rgb(123, 123, 123);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.game-container h1 {
  color: rgb(240, 249, 255);
}
.game-container p {
  color: rgb(240, 249, 255);
  margin-bottom: 50px;
}

.game-info-container {
  display: none;
  position: absolute;
  top: 3%;
  left: 2%;
}
.game-info-container p {
  color: rgb(240, 249, 255);
  text-align: left;
  padding: 0;
  margin: 10px;
}

.game-music-container {
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 1000;
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
.timeline {
  margin: 5em auto;
  width: 80vw;
  max-width: 34.2em;
}
.timeline .checkpoint {
  max-width: 100%;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .timeline .checkpoint {
    transform: none;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }
}
.timeline .checkpoint div {
  border: 3px solid rgb(52, 153, 254);
  border-radius: 15px;
  padding: 1.5em;
  -webkit-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  -moz-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  box-shadow: 2px 4px 6px rgb(123, 123, 123);
}
.timeline .checkpoint div p {
  padding: 0;
}
@media screen and (max-width: 720px) {
  .timeline .checkpoint div p {
    font-size: 12px;
  }
}
.timeline .checkpoint div h3 {
  padding-bottom: 0.5em;
}
@media screen and (max-width: 720px) {
  .timeline .checkpoint div h3 {
    margin-left: 10px;
  }
}
.timeline .checkpoint:nth-child(odd) {
  border-left: 3px solid rgb(52, 153, 254);
  padding-left: 3em;
  transform: translateX(17em);
}
@media screen and (max-width: 1200px) {
  .timeline .checkpoint:nth-child(odd) {
    transform: none;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }
}
.timeline .checkpoint:nth-child(even) {
  border-right: 3px solid rgb(52, 153, 254);
  padding-right: 3em;
  transform: translateX(-17em);
}
@media screen and (max-width: 1200px) {
  .timeline .checkpoint:nth-child(even) {
    transform: none;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }
}
.timeline .checkpoint:nth-child(odd)::before, .timeline .checkpoint:nth-child(even)::before {
  content: "";
  background: rgb(52, 153, 254);
  width: 3em;
  height: 3px;
  position: absolute;
  top: 50%;
}
@media screen and (max-width: 1200px) {
  .timeline .checkpoint:nth-child(odd)::before, .timeline .checkpoint:nth-child(even)::before {
    width: 3px;
    height: 4em;
    left: 50%;
    top: -2em;
  }
}
.timeline .checkpoint:nth-child(odd)::before {
  left: 0%;
}
@media screen and (max-width: 1200px) {
  .timeline .checkpoint:nth-child(odd)::before {
    left: 50%;
  }
}
.timeline .checkpoint:nth-child(even)::before {
  right: 0%;
}
.timeline .checkpoint:nth-child(odd) div::before, .timeline .checkpoint:nth-child(even) div::before {
  content: "";
  background: rgb(52, 153, 254);
  -webkit-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  -moz-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  box-shadow: 2px 4px 6px rgb(123, 123, 123);
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  top: 50%;
  transform: translateY(-37%);
  border-radius: 50%;
}
@media screen and (max-width: 1200px) {
  .timeline .checkpoint:nth-child(odd) div::before, .timeline .checkpoint:nth-child(even) div::before {
    left: 50%;
    top: -0.5em;
    transform: translateX(-37%);
  }
}
.timeline .checkpoint:nth-child(odd) div::before {
  left: -0.5em;
}
@media screen and (max-width: 1200px) {
  .timeline .checkpoint:nth-child(odd) div::before {
    left: 50%;
  }
}
.timeline .checkpoint:nth-child(even) div::before {
  right: -0.5em;
}
@media screen and (max-width: 1200px) {
  .timeline .checkpoint:nth-child(even) div::before {
    right: 50%;
  }
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
.logos {
  white-space: nowrap;
}
.logos .logo-slide-container {
  position: relative;
  margin: 0 auto;
  height: 100%;
  padding: 50px 10px;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .logos .logo-slide-container {
    width: 100vw;
    left: calc(-50vw + 50%);
    margin: 0;
    padding: 50px 0;
  }
}
.logos .logo-slide-container:hover .logos-slide {
  animation-play-state: paused;
}
@media screen and (max-width: 720px) {
  .logos .logo-slide-container:hover .logos-slide {
    animation-play-state: running;
  }
}
.logos .logo-slide-container .logos-slide {
  display: inline-block;
  animation: 20s slide infinite linear;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos .logo-slide-container .logos-slide img {
  height: 100px;
  border-radius: 15px;
  box-shadow: 2px 4px 6px rgb(123, 123, 123);
  margin: 0 20px;
  padding: 10px;
  transition: transform 0.4s ease-out;
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.logos .logo-slide-container .logos-slide img:hover {
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transform: scale(1.05);
  cursor: pointer;
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
.ranking .order-number {
  font-size: 20px;
  color: rgb(255, 153, 0);
  font-weight: bold;
}
.ranking .top-3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 50px;
  margin: 50px auto;
  max-width: 600px;
}
@media screen and (max-width: 990px) {
  .ranking .top-3 {
    flex-direction: column;
    align-items: center;
  }
}
.ranking .top-3 .svg-loop-container {
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 990px) {
  .ranking .top-3 .svg-loop-container {
    order: -1;
  }
}
.ranking .top-3 .svg-loop-container .rotating-svg {
  position: absolute;
  z-index: 2;
  left: -25%;
  top: -30%;
  width: 150%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: changeZIndex 2s linear infinite;
}
.ranking .top-3 .svg-loop-container .rotating-svg path {
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes changeZIndex {
  0%, 23% {
    z-index: 2;
  }
  24%, 54% {
    z-index: 0;
  }
  54.1%, 100% {
    z-index: 2;
  }
}
.ranking .top-3 .place {
  position: relative;
  z-index: 1;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  background-color: transparent;
  text-align: center;
  font-weight: bold;
  border-radius: 15px;
  border: 3px solid rgb(52, 153, 254);
  -webkit-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  -moz-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  box-shadow: 2px 4px 6px rgb(123, 123, 123);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.ranking .top-3 .place p {
  margin: 0;
}
.ranking .top-3 .place p .order-number-top {
  font-size: 50px;
  display: block;
  color: rgb(255, 153, 0);
  position: relative;
  top: 0;
  margin-bottom: 10px;
}
.ranking .top-3 .first {
  height: 300px;
}
.ranking .top-3 .second {
  height: 250px;
}
.ranking .top-3 .third {
  height: 200px;
}

.team-bee {
  color: #ff9900;
  font-weight: 600;
}

.team-duck {
  color: #33cc33;
  font-weight: 600;
}

/* ========================================================================
 * File Name: style.css
 * Author: CUINET Antoine
 * Version: 1.0
 * Date: September 2024
 *
 * Note: This code was developed by CUINET Antoine, see https://acuinet.fr
======================================================================== */
/* Grid Layout for Gallery */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}
@media screen and (max-width: 720px) {
  .gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}

/* Individual Photo Container Styling */
.photo-container {
  position: relative;
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 720px) {
  .photo-container {
    width: 100px;
    height: 100px;
  }
}

/* Styling for the Photos */
.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.4s ease-out;
  border-radius: 15px;
  -webkit-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  -moz-box-shadow: 2px 4px 6px rgb(123, 123, 123);
  box-shadow: 2px 4px 6px rgb(123, 123, 123);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.photo:hover {
  transform: scale(1.05);
}

/* Modal Styles */
.photo-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Modal Content */
.modal-content {
  position: relative;
  width: 80%;
  max-width: 800px;
  text-align: center;
}

/* Full-size Image */
#modalImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  color: rgb(255, 51, 153);
  cursor: pointer;
}

/* Arrows for Navigation */
.modal-arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.modal-arrow {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  color: rgb(7, 7, 7);
  border-radius: 50%;
  transition: background-color 0.4s ease-out;
}
.modal-arrow:hover {
  background-color: rgb(240, 249, 255);
}

/*# sourceMappingURL=style.css.map */
