{% extends 'base.html.twig' %}
{% block title %}OFNI | Jeu &#128377;&#128126;{% endblock %}

{% block main %}
    <h1>👾 Space OFNIvaders 👾</h1>
    <p>Bienvenue sur notre nouveau jeu, inspiré de l'indémodable "Space Invaders" &#128377;&#128126;</p>

    <a class="btn" href="/game/gameplay">Jouer !</a>

    <section>
        <h2>Classement &#128220;</h2>
        <p>Voici le classement des meilleurs joueurs :</p>

        <div class="ranking">
            <div class="top-3">
                <div class="place second">
                    <p><span class="order-number-top">2.</span>Jane Doe<br><span class="team-bee">Abeille</span><br>900 points</p>
                </div>
                <div class="place first">
                    <p><span class="order-number-top">1.</span>John Doe<br><span class="team-bee">Abeille</span><br>1000 points</p>
                </div>
                <div class="place third">
                    <p><span class="order-number-top">3.</span>Foo Bar<br><span class="team-duck">Canard</span><br>800 points</p>
                </div>
            </div>
            <div class="others">
                <p><span class="order-number">4.</span> <strong>John Doe</strong> - <span class="team-bee">Abeille</span> - 700 points</p>
                <p><span class="order-number">5.</span> <strong>John Doe</strong> -<span class="team-duck">Canard</span> - 600 points</p>
                <p><span class="order-number">6.</span> <strong>John Doe</strong>- <span class="team-bee">Abeille</span> - 500 points</p>
                <p><span class="order-number">7.</span> <strong>John Doe</strong> - <span class="team-bee">Abeille</span> - 400 points</p>
                <p><span class="order-number">8.</span> <strong>John Doe</strong>- <span class="team-duck">Canard</span> - 300 points</p>
                <p><span class="order-number">9.</span> <strong>John Doe</strong> - <span class="team-bee">Abeille</span> - 200 points</p>
                <p><span class="order-number">10.</span> <strong>John Doe</strong>- <span class="team-duck">Canard</span> - 100 points</p>
            </div>
        </div>
        {# TODO: faire le classement #}
    </section>

    <section>
        <h2>Comment jouer ? &#128126;</h2>
        <p>Utilisez les flèches directionnelles de votre clavier pour vous déplacer et la barre espace pour tirer.
        Le but est de tirer sur les OFNIvaders qui descendent vers vous avant qu'ils ne vous atteignent. Attention, ils tirent aussi !
        Ce jeu est infini, le but est de faire le plus de points possible !</p>

        <a class="btn" href="/game/gameplay">J'essaie le jeu !</a>
    </section>
{% endblock %}
