{% extends 'base.html.twig' %}
{% block title %}OFNI | Jeu &#128377;&#128126;{% endblock %}

{% block main %}
    <div class="game-section">
        <p>Bienvenu sur notre nouveau jeu, inspiré de l'indémodable "Space Invaders" &#128377;&#128126;</p>

        <a class="btn" href="/game/gameplay">Jouer !</a>

        <section>
            <h2>Classement &#128220;</h2>
            <p>Voici le classement des meilleurs joueurs :</p>
        </section>

        <section>
            <h2>Comment jouer ? &#128126;</h2>
            <p>Utilisez les flèches directionnelles de votre clavier pour vous déplacer et la barre espace pour tirer.</p>
        </section>
    </div>
{% endblock %}
