{% extends 'base.html.twig' %}
{% block title %}OFNI | Boutique
{% endblock %}

{% block main %}
	<h1>Notre boutique</h1>

	<section>
		<h2>Deviens adhérent de l'OFNI !</h2>
		<p>Adhérer à l'OFNI, c'est soutenir notre association et participer à nos activités. C'est aussi bénéficier de réductions sur nos événements et de nombreux autres avantages.</p>
		<p>Le montant de l'adhésion est de 5€ valable sur toute l'année en cours.</p>
		<p>Pour nos adhésions et nos produits à vendre, nous passons par la plateforme HelloAsso !</p>

		<iframe id="haWidget" allowtransparency="true" src="https://www.helloasso.com/associations/ofni-besancon/adhesions/adhesion-2025-2026-1/widget"></iframe><br>
		<p>Il est également possible de scanner le QR code, ou de cliquer sur le bouton ci-dessous pour adhérer en ligne.</p>
		<img src="/pictures/qr-adhesion.svg" alt="QR code d'adhésion" width="300" style="border-radius: 20px"><br>
		<a class="btn" href="https://www.helloasso.com/associations/ofni-besancon/adhesions/adhesion-2025-2026-1" target="_blank">Adhérer depuis le site de HelloAsso</a>
	</section>
{% endblock %}
