<h2>Demande de contact reçu</h2>

<h3>Auteur : </h3>
<ul>
    <li>Nom: {{ last_name }}</li>
    <li>Prénom: {{ first_name }}</li>
    <li>Email: {{ sender_email }}</li>
</ul>

<h3>Message : </h3>

{{ message }}
