<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}OFNI{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        {% block stylesheets %}<link rel="stylesheet" href="{{ asset('style.css') }}">{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/main.js') }}" async></script>
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}{% endblock %}
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>
