@use 'variables' as *;
@use '../../functions/rem' as *;
@use '../../functions/lightness' as *;
@use '../../mixins/select' as *;

footer {
    // margin-top: 50px;
    flex-shrink: 0;
    width: 100%;
    border-top: 1px dashed $color-black;
    background: $color-primary;
    color: $color-font-p;

    .footer-container {
        max-width: $breakpoint-large;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: $font-size-m;
        padding: 15px 0 10px;

        @media #{$max-width-s} {
            flex-wrap: wrap;
            padding: rem(15) 0 rem(5);
            font-size: $font-size-s;
        }

        .bloc {
            width: 30%;
            margin: 0 rem(30);
            text-align: center;

            @media #{$max-width-s} {
                width: 80%;
                margin: rem(30);
            }

            &:nth-child(1),
            &:nth-child(2) {
                margin-bottom: rem(20);

                @media #{$max-width-s} {
                    margin-bottom: rem(10);
                }
            }

            h3 {
                font-size: $size-logo-text-mq;
                padding-bottom: rem(20);
                @include select();
                color: light($color-primary, $color-font-title, $color-white);

                @media #{$max-width-s} {
                    padding-bottom: rem(5);
                }
            }

            ul {
                list-style-type: none;

                li {
                    margin: rem(2) 0;

                    span {
                        font-weight: bold;
                    }
                }
            }
        }   
    }

    .footer-legal {
        margin: 0 auto 10px auto;
        text-align: center;
    }
}