@use 'variables' as *;

section {
    margin: 80px auto;
    width: 90%;
    max-width: $breakpoint-large;
    padding: 20px;
    border-radius: $border-rad * 2;
    border-top: 1px solid $color-tertiary;
    border-left: 1px solid $color-tertiary;
    background: $color-secondary;
    backdrop-filter: blur-filter(20px);

    h2 {
        margin-bottom: 20px;
    }

    p {
        margin: 10px auto;
        text-align: justify;
    }
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 20px;
    min-height: 100vh;

    @media #{$max-width-m} {
        flex-direction: column;
        justify-content:space-around;
        text-align: center;
    }

    .logo {
        flex-shrink: 0;
        text-align: center;

        span {  
            font-size: 170px !important;
        }

        @media #{$max-width-m} {
            order: -1; // Place "OFNI" en haut
            margin-top: 80px;

            span {  
                font-size: 80px !important;
            }
        }
    }

    
    .hero-text {
        max-width: 500px;
        text-align: left;

        h1 {
            padding: 0;
            text-align: left;
            font-size: 70px;
            font-weight: bold;
            line-height: 1;
            margin-top: 40px;
            text-shadow: 2px 4px 4px rgba(123, 123, 123, 0.3);

            span {
                font-weight: bolder;
                font-size: 75px;
            }
        }

        p {
            padding: 0;
            text-align: left;
            font-size: 16px;
            margin-top: 15px;
            color: #444;
        }

        a {
            margin-left: 0;
            margin-right: 20px;
            margin-top: 30px;
            display: inline-block;
            font-size: 14px;
        }

        @media #{$max-width-m} {
            h1 {
                font-size: 2rem;

                span {
                    font-size: 2rem;
                }
            }
            p {
                font-size: 1rem;
                margin-bottom: 20px;
            }

            a {
                margin-top: 0px;
            }
        }
    }
}
